# Node modules and configs
node_modules

# Cypress local files:
cypress/screenshots/*
cypress/test-results/
test-results.xml
results
videos
downloads

# Vs code or other IDE generated config files:
.vs
.vscode

# Yarn files
yarn-error.log

# Compiler report files
dist

#Debug erros and logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# MAC files
**/.DS_Store